// NOTE: THIS CSS IS OPTIONAL

:host {
  display: block;
  margin-bottom: 1rem;
  border: 1px solid black;
  padding: 1rem 1.5rem;
}

h3 {
  margin: 0 0 1rem 0;
}

.toggle {
  border: 1px solid black;
  padding: 0.5rem 1rem;
  background-color: white;
  color: black;
  font: inherit;
  cursor: pointer;
}

p {
  margin: 1rem 0 0 0;
}
