nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

a,
a:active,
a:focus {
  border-radius: 0.25rem;
  border: 1px solid grey;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}

a.active {
  background-color: grey;
  color: white;
}
