:host {
  display: block;
  max-width: 600px;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

header {
  padding-block: 1rem;
  border-bottom: 1px solid black;
}

main {
  padding-block: 2rem;
}

footer {
  border-top: 1px solid black;
  padding-block: 1rem;
  text-align: center;
}
