nav {
  display: flex;
  gap: 0.75rem;
}

button {
  border-radius: 0.25rem;
  border: 1px solid lightgrey;
  padding: 0.25rem 0.5rem;
  color: black;
  font: inherit;

  &.active {
    background-color: grey;
    color: white;
  }
}
