nav {
  margin-bottom: 1rem;
  display: flex;
  gap: 0.75rem;
}

button {
  border: 1px solid black;
  padding: 0.5rem 1rem;
  background-color: white;
  color: black;
  font: inherit;
  cursor: pointer;

  &.active {
    background-color: black;
    color: white;
  }
}
