<nav>
  <button class="button" [class.button--active]="userId() === 1" (click)="userId.set(1)">
    UserID 1
  </button>
  <button class="button" [class.button--active]="userId() === 2" (click)="userId.set(2)">
    UserID 2
  </button>
  <button class="button" [class.button--active]="userId() === 3" (click)="userId.set(3)">
    UserID 3
  </button>
</nav>

@if (posts(); as _posts) {
  @for (post of _posts; track post.id) {
    <app-user-post-item [index]="$index + 1" [post]="post" />
  } @empty {
    <em>No data...</em>
  }
}
